catboost
flake8
ipython
isort
kedro==0.17.5
torch==2.0.0
kedro-telemetry~=0.1.0
nbstripout
nflows
ninja
ngboost
plotly
properscoring
pyarrow
pytest-cov
pytest-mock
pytest
seaborn
scikit-learn

torchdiffeq
xgboost
